# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

data
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
